header {
  top: 0;
  width: 100%;
  position: absolute;
}
nav {
  margin: 20px 0;
  text-align: center;
}
nav ul {
  color: #fff;
  overflow: hidden;
  border-radius: 3px;
  display: inline-block;
  background-color: #555;
  background-image: linear-gradient(#878787, #666 48%, #444 48%,#777);
}
.nav-item {
  float: left;
  border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAQAAABTNcdGAAAAEUlEQVQIHWP4r8bA8F%2BKwQEADZUCf37PGokAAAAASUVORK5CYII%3D') 0 2 0 1;
}
.nav-item > a{
  float: left;
  display: block;
  padding: 10px 30px;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
}
.nav-item a:hover {
  background-image: linear-gradient(to right, #5557, #2226 10% ,#2226 90%, #5557);
}