header {
  top: 0;
  width: 100%;
  position: absolute;
  font: 600 13px/18px -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav {
  margin: 20px 0;
  text-align: center;
}
nav > ul {
  color: #fff;
  overflow: hidden;
  border-radius: 3px;
  display: inline-block;
  background-color: #555;
  background-image: linear-gradient(#878787, #666 50%, #444 50%,#777);
}
.nav-item {
  float: left;
  border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAQAAABTNcdGAAAAEUlEQVQIHWP4r8bA8F%2BKwQEADZUCf37PGokAAAAASUVORK5CYII%3D') 0 2 0 1;
}
.nav-item > a {
  float: left;
  height: 34px;
  line-height: 30px;
  display: block;
  padding: 0 30px;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
}
.nav-item a:hover {
  background-image: linear-gradient(to right, #5557, #2226 10% ,#2226 90%, #5557);
}
.nav-item.apple svg {
  width: 20px;
  height: 20px;
  margin-top: 6px;
}
.nav-item .search {
  margin: 3% 15px;
  position: relative;
  border-radius: 20px;
  display: inline-block;
  padding: 0 5px 3px 5px;
  border: 1px solid #454545;
  background-image: linear-gradient(#999, #777 50%, #666 50%,#888);
}
.nav-item .search > input {
  width: 100px;
  border: none;
}
.nav-item .search > i {
  vertical-align: middle;
}